.app {
  display: flex;
  min-height: 100vh;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
  margin-left: 280px;
}

.main-wrapper {
  flex: 1;
  margin-left: 280px;
  margin-top: 70px;
  padding: 40px;
  transition: margin-left 0.3s ease;
}

.main-wrapper.sidebar-closed {
  margin-left: 0;
}


@media (max-width: 768px) {
  .app {
    overflow-x: hidden;
    width: 100vw;
    max-width: 100%;
  }

  .app-content {
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
  }

  .main-wrapper {
    margin-left: 0;
    padding: 20px 15px;
    /* зменшив padding */
    margin-top: 60px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
}