@media (max-width: 768px) {
    .header {
        margin-left: 0;
        left: 0;
        width: 100%;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .burger-menu {
        display: block;
    }

    .search-bar {
        display: none;
    }

    .header-btn {
        padding: 8px 15px;
        font-size: 12px;
    }

    .user-icon {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 420px) {
    .header {
        position: relative;
        width: 100%;
        padding: 0 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-left {
        gap: 8px;
        display: flex;
        align-items: center;
    }

    .burger-menu {
        display: block;
    }

    .search-bar {
        display: none;
    }

    .header-right {
        gap: 8px;
        display: flex;
        align-items: center;
    }

    .header-btn {
        padding: 4px 8px;
        font-size: 10px;
    }

    .user-icon {
        width: 26px;
        height: 26px;
    }
}