@media screen and (max-width: 420px) {
    .blog-portfolio-tips-header {
        padding: 15px;
    }

    .blog-portfolio-tips-h1 {
        font-size: 1.5em;
    }

    .blog-portfolio-tips-article {
        margin: 10px;
        padding: 15px;
        border-radius: 6px;
    }

    .blog-portfolio-tips-btn-home {
        padding: 10px 20px;
        font-size: 0.9em;
    }

    .blog-portfolio-tips-p {
        font-size: 0.9em;
    }
}