@media (max-width: 600px) {
    .PolandTax-container {
        padding: 15px;
    }

    .PolandTax-button {
        width: 100%;
        margin-top: 10px;
    }

    .PolandTax-backButton {
        margin-left: 0;
    }
}